.select__wrapper {
  width: 30%;
  position: relative;
}

.select__box {
  width: 100%;
}

.selected {
  width: 100%;
  min-height: 45px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px;
  padding-right: 20px;
  border-radius: 12px;
  border: 1px solid #d7d5cf;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  font: 400 16px / 20px "Segoe UI", "Noto Sans", sans-serif;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;

  &:focus,
  &:hover {
    border: 1px solid #8a2be2;
    outline: none;
  }
}

.placeholder {
  color: #c8bca8;
}

.arrow {
  color: #c8bca8;
  margin-left: 10px;
  position: absolute;
  right: 7px;
  top: 15px;
}

.options__container {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;

  z-index: 1;

  @media (max-width: 699.98px) {
    width: 95dvw;
    position: fixed;
    left: 2.5dvw;
    margin-top: 10px;
  }
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: rgb(251, 248, 255);
}
